@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@using Repository.Models
@using Repository.Repository
@{
    CategoryRepository _categoryRepository = new CategoryRepository();
    var listCate = _categoryRepository.GetAll().Where(item => item.Status != 0).ToList();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PRN221_Secondhand</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">PRN221_Secondhand</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <form action="/Home/Search" method="get">
                            <input type="text" name="key" />
                            <button type="submit">search</button>
                        </form>
                        @if (Context.Session.GetString("username") == null)
                        {
                            <li><a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Index">Login</a></li>
                            <li><a class="nav-link text-dark" asp-area="" asp-controller="Register" asp-action="Index">Resgister</a></li>
                        }else{
                            <li><a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Index">@Context.Session.GetString("username")</a></li>
                            <li><a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Logout">Logout</a></li>
                        }
                    </ul>
                    @{
                        //List<Category> listcate = JsonConvert.
                        //DeserializeObject<List<Category>>(Context.Session.GetString("cate"));
                        string param = Context.Request.QueryString.Value;
                        string value = "";
                        if (param != null && !param.Equals(""))
                            value = param.Substring(param.IndexOf("=") + 1);
                        value = value.Replace("%20", " ");
                    }
                    <select class="" onchange="location = this.value;">
                        <option value="/Home/Filter?cate=all">All</option>
                        @foreach (var item in listCate)
                        {
                            if (item.Name.Equals(value))
                            {
                                <option value="/Home/Filter?cate=@item.Name" selected>@item.Name</option>
                            }
                            else
                            {
                                <option value="/Home/Filter?cate=@item.Name">@item.Name</option>
                            }
                        }
                    </select>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - PRN221_Secondhand - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        var error = "@TempData["ERROR"]";
        if (error.length != 0) {
            alert("@TempData["ERROR"]");
        }
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
