@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<Repository.Models.Post>
@*<style>
    [data-href] {
        cursor: pointer;
    }</style>
<table class="table">
    <thead>

        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr onclick="window.location='Post?id=@item.Id';" class='clickable-row' data-href='Post?id=@item.Id'>
                <td>@item.Description</td>
                <td>@item.Name</td>
                <td>@item.Price</td>
                <td>@item.Created</td>
            </tr>
        }
    </tbody>
</table>*@
<!-- Products Start -->
<div class="container-fluid pt-5 pb-3">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Products</span></h2>
    <div class="row px-xl-5">
        @foreach (var item in Model)
        {
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="@item.Image" style="height:223.5px; width223.5px;" alt="">
                        <div class="product-action">
                            <a class="btn btn-outline-dark btn-square" href="/Wish/Create?id=@item.Id"><i class="far fa-heart"></i></a>
                            <a class="btn btn-outline-dark btn-square" href="Post?id=@item.Id"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                    <div class="text-center py-4">
                        <a class="h6 text-decoration-none text-truncate" href="">@item.Name</a>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            <h5>@String.Format("{0:#,##0 vnd;(#,##0 vnd);Zero}", item.Price)</h5>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<!-- Products End -->
