@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using X.PagedList;
@using X.PagedList.Mvc.Core
@model IPagedList<Repository.Models.Post>
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
/* Add a gray background color with some padding */

/* Header/Blog Title */

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
    box-sizing: border-box;
    font-family: Arial;
    padding: 20px;
    background: #f1f1f1;
    float: left;
    width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
   background-color: white;
   padding: 20px;
   margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.pagination li {
        text-align: center;
        margin-left: 5px;
        color: #000000;
        background-color: #b3b3ff;
        border-color: #17a2b8;
        font-size: 20px;
        width: 35px;
        text-align: center;
    }
/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

</style>

</head>

<body>
   
<div class="row">
   @if (Model != null){
        <div class="leftcolumn">
            <a class="btn btn-primary" href="/MyPost/createPost">Create Post</a>
        @foreach (var items in Model)
        {
            if (items.Status == 1)
            {
                <div class="card">
                        <div class="form-group">
                            <a class="btn btn-danger float-right" onclick="return confirm('Are you sure you want to delete this post ?');" href="/MyPost/deletePost?id=@items.Id">Delete</a>
                            <a class="btn btn-secondary float-right" href="/MyPost/editPost?id=@items.Id" style="margin-right:5px">Edit</a>
                            <h2>@items.Name</h2>
                            <p>Created: @items.Created
                            @if (@items.Updated != null)
                            {
                                <span> - Updated: @items.Updated</span>
                                }
                            </p>
                            <p>Category: @items.Category.Name</p>
                            <h4>@items.Description</h4>
                        </div>
                            <img src="@items.Image" alt="@items.Name" style="height:auto;width:auto">
                        </div>           
            }
        }
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
            @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))
        </div>
        <div class="rightcolumn">
            <form class="input-group" action="Index">
                <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" name="searchName" id="searchName" />
                <button id="search-button" type="button" class="btn btn-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                    </svg>
                </button>
            </form>
        </div>
        }
</div>
</body>
</html>

