@model Repository.Models.Post

@{
    ViewData["Title"] = "editPost";
}
@{
    var selectList = new SelectList(
        new List<SelectListItem>
                {
                    new SelectListItem {Text = "Google", Value = "Google"},
                    new SelectListItem {Text = "Other", Value = "Other"},
                }, "Value", "Text");
}
<h1>editPost</h1>


<h4>Post</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form action="editPost" method="post">
            
            @Html.HiddenFor(p=>p.Id)
            <div class="form-group">
                @Html.LabelFor(p=>p.Name)
                @Html.EditorFor(p=>p.Name)
            </div>
            <div class="form-group">
                @Html.LabelFor(p=>p.Image)
                @Html.EditorFor(p=>p.Image)
            </div>
            <div class="form-group">
                @Html.LabelFor(p=>p.Description)
                @Html.EditorFor(p=>p.Description)
            </div>
            <div class="form-group">
                @Html.LabelFor(p=>p.CategoryId)
                @Html.EditorFor(p=>p.CategoryId)
            </div>
            <div class="form-group">
                @Html.LabelFor(p=>p.UserId)
                @Html.EditorFor(p=>p.UserId)
            </div>
            <div class="form-group">
                @Html.LabelFor(p=>p.Price)
                @Html.EditorFor(p=>p.Price)
            </div>
            <div class="form-group">
                @Html.LabelFor(p=>p.Created) 
                @Html.EditorFor(p=>p.Created)
            </div>
            <div class="form-group">
                @Html.LabelFor(p=>p.Updated)
                @Html.EditorFor(p=>p.Updated)
            </div>
            <div class="form-group">
                @Html.LabelFor(p=>p.Status)
                @Html.EditorFor(p=>p.Status)
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
